#main-bean-wrap {
    overflow: hidden;
    position: relative;
    width: 100%;
    background: #ff9ba1 url(../img/2021_christmas_bean_bg.jpeg) no-repeat 50% 50%;
}

#main-bean-inner {
    position: relative;
    top: 50%;
    left: 50%;
    margin: 0 0 0 -480px;
    width: 960px;
    display: flex;
}

#main-bean-left {
    margin-top: 80px;
    margin-right: 10px;
    max-width: 500px;
}

#main-bean-right {
    margin-left: 10px;
    margin-top: 80px;
}

#main-bean-right img {
    margin-top: 80px;
}

#main-bean-right-detail {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

#main-bean-right-detail button {
    padding: 7px 26px;
    border-radius: 5px;
    background-color: transparent;
    border: 2px solid #000;
    font-size: 16px;
    cursor: pointer;
}